<% @comments.each do |comment|%>
	<p class="mb-1 user_comments">
		<%= "#{comment.created_at.strftime("%d/%m/%y %I:%M %p")} #{comment.user.username} : #{comment.body}" %>
		<%if user_signed_in?%>
			<% if @user.id == comment.user_id || user_admin?(@user)%>
				<%= link_to t("project.comments.edit"), edit_comment_path(comment) %>
				<%= link_to t("project.comments.destroy"), comment, data: {confirm: "#{t("project.comments.confirmation")}"}, method: :delete %>
			<%end%>
			<% pre_like = comment.likes.find {|like| like.user_id == current_user.id } %>
			<%if pre_like%>
				<%= button_to t("project.comments.unlike"), comment_like_path(comment, pre_like), method: :delete %>
			<%else%>
				<%= button_to t("project.comments.like"), comment_likes_path(comment), method: :post %>
			<%end%>
		<%end%>

		<%if comment.likes.any?%>
			<%= "#{comment.likes.count}" %> <%= comment.likes.count == 1 ? t("project.comments.one_like") : t("project.comments.many_likes")%>
		<%end%>
	</p>
	<hr>
<% end %>