<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= t("nav_bar.home") %></a>
    </div>
    <%= form_tag "", url: projects_path, role: 'search', method: :get, class: "navbar-form navbar-left" do %>
      <div class="form-group">
        <%= text_field_tag :search, @search_term, placeholder: t("nav_bar.search"), class: "btn btn-default" %>
      </div>
    <% end %>
    <ul class="nav navbar-nav navbar-left">
      <% if cookies[:moon] %>
        <li><a href="/sun"><%= t("nav_bar.light") %></a></li>
      <%else%>
        <li><a href="/moon"><%= t("nav_bar.dark") %></a></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if !user_signed_in? %>
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> <%= t("nav_bar.reg") %></a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> <%= t("nav_bar.login") %></a></li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.username %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/profile/<%=current_user.id%>"><%= t("nav_bar.user.profile") %></a></li>
            <li class="divider"></li>
            <li><a href="<%= destroy_user_session_url %>" data-method="delete"><%= t("nav_bar.user.exit") %></a></li>
          </ul>
        </li>
      <% end %>
      <li class="nav-item<%= " active" if I18n.locale == :ru%>">
        <%= link_to "Рус", {locale: :ru}, class: "nav-link"%>
      </li>
      <li class="nav-item<%= " active" if I18n.locale == :en%>">
        <%= link_to "Eng", {locale: :en}, class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>
