<section>
		<%= f.input :name %>
		<%= f.input :description %>
		<%= f.input :price%>
	<td>
		<%= f.input_field :_destroy, as: :hidden %>
		<%= link_to t("project.bonuses.destroy"), '#', class: 'remove_record btn btn-default' %>
	</td>
	<hr>
</section>