<h1><%= t("profile.title") %></h1>
<%if @user.user_bonuses.any?%>
	<div class="user-bonuses scroll-bar">
		<h3><%= t("profile.user_bonuses") %></h3>
		<% @user.user_bonuses.each do |user_bonus| %>
			<section>
				<%= t("profile.user_bonus_name") %>: <%= user_bonus.bonus.name %>
			</section>
			<section>
				<%= t("profile.user_bonus_description") %>: <%= user_bonus.bonus.description %>
			</section>
			<hr>
		<% end %>
	</div>
<%end%>

<table align="center" class="table table-bordered">
		<tr>
			<th><%= t("profile.name") %>:</th>
			<td><%= @user.username %></td>
		</tr>

		<tr>
			<th><%= t("profile.email") %>:</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th><%= t("profile.balance") %>:</th>
			<td>
				<%= @user.balance %> <% t("profile.currency") %> 
				<%if current_user?(@user)%>
					<%= link_to t("profile.add_balance"), new_add_balance_path, class: 'btn btn-primary' %>
				<%end%>
			</td>
		</tr>

		<%if user_admin?(current_user) && !current_user?(@user)%>
			<%if @user.admin != true%>
				<td><%= link_to t("profile.give_permission"), give_permission_path(@user), class:"btn btn-primary" %></td>
			<%elsif current_user.owner == true%>
				<td><%= link_to t("profile.take_away_permission"), take_away_permission_path(@user), class:"btn btn-primary" %></td>
			<%end%>

			<%if @user.banned != true%>
				<%if !user_owner?(@user)%>
					<td><%= link_to t("profile.ban"), ban_path(@user), class:"btn btn-danger" %></td>
				<%end%>
			<%else%>
				<td><%= link_to t("profile.unban"), unban_path(@user), class:"btn btn-primary" %></td>
			<%end%>
			<tr>
				<%if !user_owner?(@user)%>
					<td>
						<%= link_to t("profile.destroy"), "/profile/#{@user.id}", class:"btn btn-danger", data: {confirm: "#{t("profile.confirmation")} #{@user.username}"}, method: :delete %>
							
					</td>
				<%end%>
			</tr>
		<%end%>
		<%if current_user?(@user)%>
			<tr>
				<th><%= t("profile.title_edit") %></th>
				<td><%= link_to t("profile.edit"), edit_user_registration_path, class:"btn btn-default", style:"border-radius: 4px; background-color: #e7e7e7; color: black;" %></td>
			</tr>
		<%end%>
</table>

<h1><%= t("profile.projects") %></h1>
<div class="scroll-bar list">
	<table class="table table-striped">
		<% @user_projects.each do |user_project| %>
			<tbody>
				<tr> 
					<td align="center"> 
						<div data-turbolinks="false"> <%= link_to user_project.title, project_path(user_project) %> </div>
					</td>
					<% if current_user?(@user) || user_admin?(current_user) %>
						<td align="center">  <%= link_to t("profile.project.edit"), edit_project_path(user_project) %> </td>
						<td align="center">  <%= link_to t("profile.project.destroy"), user_project, method: :delete, data: {confirm: "#{t("profile.project.confirmation")}"} %> </td>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>
<%if current_user?(@user)%>
	<div class="text-center">
		<%= link_to t("profile.project.create"), new_project_path, class:"btn btn-primary" %>
	</div>
<%elsif user_admin?(current_user)%>
	<div class="text-center">
		<%= link_to "#{t("profile.project.create_with_user")} #{@user.username}", user_project_new_path(@user.id), class:"btn btn-primary" %>
	</div>
<%end%>