<h1>Профиль</h1>
<table align="center" class="table table-bordered">
		<tr>
			<th>Имя пользователя:</th>
			<td><%= @user.username %></td>
		</tr>

		<tr>
			<th>Email:</th>
			<td><%= @user.email %></td>
		</tr>
		<%if current_user?(@user)%>
			<tr>
				<th>Редактировать</th>
				<td><%= link_to "Изменить данные", edit_user_registration_path(@user), class:"btn btn-default", style:"border-radius: 4px; background-color: #e7e7e7; color: black;" %></td>
			</tr>
		<%end%>
</table>

<h1>Проекты пользователя</h1>
<div class="scroll-bar">
	<table class="table table-striped">
		<% @user_projects.each do |user_project| %>
			<tbody>
				<tr> 
					<td align="center"> 
						<div data-turbolinks="false"> <%= link_to user_project.title, project_path(user_project) %> </div>
					</td>
					<% if current_user?(@user) %>
						<td align="center">  <%= link_to "Редактировать", edit_project_path(user_project) %> </td>
						<td align="center">  <%= link_to "Удалить", user_project, method: :delete, data: {confirm: "Are you shure?"} %> </td>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>
<%if current_user?(@user)%>
	<div class="text-center">
		<%= link_to 'Создать проект', new_project_path, class:"btn btn-primary" %>
	</div>
<%end%>