<%themes = ['Not chosen','Electronics','Education','Fashion','Music','Health & Beauty','Sports','Cars','Home & Garden']%>
<%=simple_form_for @project, url:yield(:project_form_url) do |f|%>
	<%= f.input :title %>
	<%= f.input :description %>
	<%= f.input :theme, collection:themes, selected:themes[0] %>
	<%= f.input :tag_list, value: @project.send(:tag_list).to_s.downcase %>
	<%= f.input :video_url %>
	<%= f.input :money_need %>
	
	<%= f.label t("project.bonuses.title") %>
	<div class="fields">
		<%= f.fields_for :bonuses do |b| %>
			<%= render 'bonus', f: b %>
		<%end%>
	</div>
	<%= link_to_add_row(t("project.bonuses.add_bonus"), f, :bonuses, class: 'btn btn-primary') %>

	<%if yield(:image_field) == "new"%>
		<%= f.input :end_date, as: :date_time_picker, input_html:
		  { data:
		    {
		      date_format: "DD-MM-YYYY",
		      date_min_date: Time.current.strftime('%Y-%m-%d')
		    }
		  } %>
		<%= f.fields_for :project_images do |p| %>
			<div class="field">
				<%= p.label t("project.image") %>
				<%= p.file_field :image, multiple: true, name:"project_images[image][]", class:"dropzone file-upload" %>
			</div>
		<% end %>
	<% end %>
	<%= f.button :submit, yield(:button_text) , class:"btn btn-primary"%>
<% end %>