<div class="container">
	<h1>Проект: <%= @project.title %></h1>
	<h3>Тематика:<%= @project.theme %></h3>
	<h3>Описание:<%= @project.description %></h3>
	<h3>Тэги:<%= @project.tag %></h3>

	<% if !@project.video_url.nil? && @project.video_url.include?("https://www.youtube.com/watch?v=")%>
		<h3>Видео:</h3>
		<div align="center">
			<% video_id = @project.video_url.sub('https://www.youtube.com/watch?v=', '').split('&')[0] %>
			<iframe id="player" type="text/html" width="640" height="360"
			  src="http://www.youtube.com/embed/<%=video_id%>"
			  frameborder="0">
			</iframe>
		</div>
	<% end %>

	<% @project_images.each do |pr_i| %>
		<%= image_tag(pr_i.image.url, alt: 'Image') if pr_i.image?%>
		<%if user_signed_in? && current_user == @project_owner%>
			<%= link_to "Изменить картинку", edit_project_image_path(pr_i) %>
		<% end %>
	<% end %>

	<h3>Создал пользователь: <%= link_to @project.user.username, profile_path(@project.user.id) %></h3>

	
	<h4 align="center">Комментарии пользователей</h4>
	
	<div class="col">
		<div class="message-content">
			<div id="comment_update" data-project-path="<%=project_comments_path(@project)%>">
				<%= render 'comments/comment' %>
			</div>
			<% if user_signed_in? %>
				<%= simple_form_for(@comment, :url => project_comments_path(@project), remote: true) do |f| %>
					<%= f.input :body, label:"Комментарий", input_html: {style: 'resize: none; height:100px;'} %>
					<%= f.button :submit, "Отправить", class:"btn btn-primary" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>