<%provide(:comment_form_url, project_comments_path(@project))%>

<div class="container">
		<div class="bonus-content text-center">
			<%if @bonuses.any?%>
				<h3>Бонусы</h3>
			<%end%>
			<%= render 'bonuses' %>
		</div>
		<div class="event-content text-center">
			<%if @events.any?%>
				<h3>Новости</h3>
			<%end%>
			<%= render 'events/news' %>
		</div>
	<h1>Проект: <%= @project.title %></h1>
	<h3>Тематика:<%= @project.theme %></h3>
	<h3>Описание:<%= @project.description %></h3>
	<h3>Тэги:<%= @project.tag %></h3>
	<h3>
		<span>
			Пожертвованно: <%= @project.money_donated %> у.е. 
			<%if user_signed_in?%>
				<%= link_to 'Поддержать проект', new_project_transaction_path(@project), class: 'btn btn-primary' %>
			<%end%>
		</span>
		<span class="project-data">Целевая сумма: <%= @project.money_need %> у.е.</span>
	</h3>
	<% status = (@project.money_donated/@project.money_need)*100 %>
	<div class="progress" style="width: 95%;">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0"
	  aria-valuemin="0" aria-valuemax="100" style="width: <%=status%>%; color:black;">
	    <%=status.round(2)%>%
	  </div>
	</div>

	<% if !@project.video_url.nil? && @project.video_url.include?("https://www.youtube.com/watch?v=")%>
		<h3>Видео:</h3>
		<div align="center">
			<% video_id = @project.video_url.sub('https://www.youtube.com/watch?v=', '').split('&')[0] %>
			<iframe id="player" type="text/html" width="640" height="360"
			  src="http://www.youtube.com/embed/<%=video_id%>"
			  frameborder="0">
			</iframe>
		</div>
	<% end %>

	<% @project_images.each do |pr_i| %>
		<%= image_tag(pr_i.image.url, alt: 'Image', id:"galary_image") if pr_i.image?%>
		<%if user_signed_in? && (current_user == @project_owner || user_admin?(@user))%>
			<p class="text-center">
				<%= link_to "Изменить картинку", edit_project_image_path(pr_i), class:"btn btn-primary" %>
				<%= link_to "Удалить", pr_i, data: {confirm: "Confirm you want to delete image"}, class:"btn btn-danger", method: :delete %>
			</p>
		<% end %>
	<% end %>

	<h3>
		<span>Создал пользователь: <%= link_to @project.user.username, profile_path(@project.user.id) %></span>
		<span class="project-data">Дата окончания: <%= @project.end_date.remove("{","}","1=>","2=>","3=>").split(", ").join("-") %></span>
	</h3>

	<% if user_signed_in? %>
		<p><%= render 'reviews/form' if !current_user_has_review? %></p>
		<% if @user_review != nil %>
			<div class="review-rating" data-score="<%= @user_review.rating %>"><span>Ваша оценка: </span></div>
		<% end %>
	<% end %>
	
	<h4 align="center">Комментарии пользователей</h4>
	
	<div class="col">
		<div class="message-content">
			<div id="comment_update" data-project-path="<%=project_comments_path(@project)%>">
				<%= render 'comments/comment' %>
			</div>
			<% if user_signed_in? %>
				<%= render 'comments/form' %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>
